*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    /* Font Size */
    --fs-xs: 0.75rem;
    --fs-sm: 0.875px;
    --fs-md: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2rem;

    /* Background */
    --bg-primary-color: rgb(8, 8, 8);
    --bg-snake: rgb(90, 189, 15);

    /* Colors */
    --text-primary-color: #e6e6e6;

    /* Borders */
    --border-secondary-color: rgb(81, 80, 80);

    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;

    /* Space */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Game Box */
    --game-box-height: 20px;
    --game-box-width: 20px;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width: 80%;
    margin: 0 auto;
    margin-top: var(--space-xl);
    display: flex;
    justify-content: center;
    height: 100%;
}

.container{
    width: 100%;
    border: 1px solid var(--border-secondary-color);
    border-radius: var(--border-radius-lg);
    padding: var(--space-xl);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gameDetails{
    display: flex;
    justify-content: space-between; 
    margin-bottom: var(--space-2xl);   
}

.gameDetails > div{
    border: 1px solid;
    border-radius: var(--border-radius-md);
    padding: var(--space-md);
    font-size: var(--fs-lg);
    font-weight: 700;
    text-align: center;
}

.boxes{
    height: var(--game-box-height);
    border: 1px solid var(--border-secondary-color);
    font-size: .8rem;
}

.gameBoard{
    border: 1px solid;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill, minmax(var(--game-box-width), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--game-box-width), 1fr));
}

/* Js Clases */
.foodBox{
    background-color: lightpink;
    border: none;
}

.snakeClass{
    background-color: var(--bg-snake);
}

.snake-head {
    width: 30px;
    height: 30px;
    background: #4caf50;
    position: relative;
    border-radius: 8px;
}

.snake-head::before,
.snake-head::after {
    content: "";
    position: absolute;
    background: black;
    width: 6px;
    height: 6px;
    border-radius: 55%;
    border: 1px solid white;
}

.snake-head::before {
    left: 5px;
    top: 4px;
}

.snake-head::after {
    right: 5px;
    top: 4px;
}
